<template name="nav">

<div class="">
    <div class="navbar navbar-material-teal">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand " >Notes</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
            <li class="{{#if equals status "0"}} active {{/if}}">  <a class="allnotes" href="#">查看全部</a>      </li>
            <a class="navbar-brand " > | </a>
             <li class=" {{#if equals status "1"}} active {{/if}}"> <a class="onlyme"  href="#" role="button" >只看自己</a></li>
            
             <a class="navbar-brand " > | </a>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">标签： <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="javascript:void(0)">查看全部</a></li>
                    <li><a href="javascript:void(0)">查看全部代码</a></li>
                    <li><a href="javascript:void(0)">查看全部Tips</a></li>
                    <li><a href="javascript:void(0)">查看全部链接</a></li>
                </ul>
            </li>
            <form class="navbar-form navbar-left filter">
                <input type="text" name="text"  class="form-control col-lg-8"  placeholder="input then enter">
        </form>
        

        </ul>
        
        <ul class="nav navbar-nav navbar-right">
        <li class="{{#if equals "abc" "abc"}} active {{/if}}"> <a class="add"  href="#" role="button" ><i class="mdi-content-add-box"></i>增加Note</a>  </li>
        <li > <a><i class="mdi-action-account-box"></i></a> </li>
            {{> loginButtons }}
        </ul>

    </div>
</div>
</div>




</template>