<template name="nav">
<div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="allnotes navbar-brand" href="#">全部 Notes</a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="onlyme active"><a href="#">只看自己</a></li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
            {{> loginButtons }} <!-- here -->
        </ul>

        <ul class="nav navbar-nav navbar-right">
              <li class="active"> <a class="add btn btn-primary btn-sm" href="#" role="button" >Add New</a></li>
        </ul>
    </div>
</div>
</template>