<template name="nav">

<div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span style="background-color:#563d7c;" class="icon-bar"></span>
        <span style="background-color:#563d7c;" class="icon-bar"></span>
        <span style="background-color:#563d7c;" class="icon-bar"></span>
      </button>
    </div>
    <nav class="navbar-collapse collapse bs-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
        <li class="onlyme active">
            <a class="allnotes  navbar-brand {{#if equals status "0"}} btn btn-primary btn-sm {{/if}}" href="#">全部 Notes</a>
        </li>
             <li class="onlyme active"> <a class="navbar-brand  {{#if equals status "1"}} btn btn-primary btn-sm {{/if}}"  href="#" role="button" >只看自己</a></li>
        </ul>
        <ul class="nav navbar-nav">
            <li ><a class="navbar-brand " href="#">分类:</a></li>
            <li class="active">
            <form class="filter">
                <input type="text" name="text"  class="form-control" style="height:50px;" placeholder="Enter 分类">
               </form>
            </li>
             
        </ul>

        
        <ul class="nav navbar-nav navbar-right">
            {{> loginButtons }} <!-- here -->
        </ul>

        

        <ul class="nav navbar-nav navbar-right">
              <li class="active"> <a class="add navbar-brand  {{#if equals "abc" "abc"}} btn btn-primary btn-sm {{/if}}"  href="#" role="button" >Add New</a></li>
        </ul>
    </nav>
</div>

</template>