<template name="note">

<div class="modal fade "  id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:800px; height:500px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Confirm delete ? </h4>
      </div>     
      <div class="modal-body">    </div>    
          <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="confirmdelete btn btn-primary">Delete</button>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron">

  <h2>{{title}}</h2>
  <h3>属于 {{filter}} 分类</h3>
  <h4>{{author}}    写作于  {{createdAt}} </h4>
  <pre> {{content}} </pre>

  <p>
  <a class="delete btn btn-primary btn-sm" href="#" role="button">Delete</a>
  <a class="edit btn btn-primary btn-sm" href="#" role="button" data-toggle="modal" >Edit</a>
  </p>

</div>
</template>