<template name="note">

<div class="modal fade "  id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="height:500px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Confirm delete ? </h4>
      </div>     
      <div class="modal-body">    </div>    
          <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="confirmdelete btn btn-primary">Delete</button>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron">

  <div class="panel-group" id="accordion{{_id}}" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading{{_id}}">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion{{_id}}" href="#collapse{{_id}}" aria-expanded="false" aria-controls="collapse{{_id}}">
          <h2>{{title}}</h2>
          <h3>属于 {{filter}} 分类</h3>
          <h4>{{author}}    写作于  {{createdAt}} </h4>
        </a>
      </h4>
    </div>
    <div id="collapse{{_id}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{_id}}">
      <pre> {{content}} </pre>
        <p>
        <a class="edit btn btn-primary btn-sm" href="#" role="button" data-toggle="modal" >  Edit This Note </a>
        <a class="delete btn btn-primary btn-sm" href="#" role="button"> Delete Note </a>
        
        </p>
    </div>
  </div>

  <div class="row">
  {{#each images}}
  {{#if this}}
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/100%x180" src="{{this}}" alt="...">
    </a>
  </div>
  {{/if}}
  {{/each}}
</div>
    
</div>

 </div> 
</template>